<div class="container__heroSection">
  <div class="label__heroSection-title">Warning!</div>
  <div class="label__heroSection-subtitle">I found that!</div>
  <div class="bloc__image-column1">
    <img
      loading="lazy"
      class="img__heroImgLeft"
      [src]="heroImgLeft"
      alt="Apple laptop on a white desk. The screen showing mysterious source code."
    />
  </div>
  <div class="bloc__image-column2">
    <img
      loading="lazy"
      class="img__heroImgRight"
      [src]="heroImgRight"
      alt="Zoom in on the 404 error page on an Apple laptop screen."
    />
  </div>
</div>