/********** Hero Section Container ***********/

.container__heroSection {
  display: grid;
  grid-template-columns: 10rem 20rem 60rem 10rem;
  grid-template-rows: 30rem 10rem 30rem 5rem;
}

// Desktop first approch: max-width (mobile first: min-width)
// Working with rem unit for a best display quality (40rem = 640px)
@media screen and (max-width: 40rem) {
  .container__heroSection {
    grid-template-columns: 1fr;
    display: inline-block;
    width: 100vw;
    text-align: center;
    padding: 0 1rem;
    // padding: 1rem 1rem 1rem 1rem;
  }
}

/********** Hero Section Title ***********/


.label__heroSection-title {
  grid-column: 2/4;
  grid-row: 1/2;
  color: #f24e1e;
  align-self: center;
  font: 700 282px Menlo, sans-serif;
  text-align: center;
}

@media screen and (max-width: 40rem) {
  .label__heroSection-title {
    font-size: 13rem;
    padding: 1rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 22.5rem) {
  .label__heroSection-title {
    font-size: 7rem;
    margin-right: 1rem;
  }
}


/********** Hero Section Subtitle ***********/


.label__heroSection-subtitle {
  grid-column: 2/4;
  grid-row: 2/3;
  color: #f24e1e;
  margin: 20px 0 0 19px;
  font: 700 64px Menlo, sans-serif;
  text-align: left;
}

@media screen and (max-width: 40rem) {
  .label__heroSection-subtitle {
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }
}

@media screen and (max-width: 22.5rem) {
  .label__heroSection-subtitle {
    font-size: 3rem;
  }
}

/********** Hero Section Bloc Image Container Column 1 ***********/


.bloc__image-column1 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 20rem;
  // margin-left: 0px;
}

@media screen and (max-width: 40rem) {
  .bloc__image-column1 {
    display: none;
    // width: 100%;
    // max-height: 50%;
    // margin: 10px 10px 10px 10px;
  }
}

// @media screen and (max-width: 22.5rem) {
//   .bloc__image-column1 {
//     margin-right: 1rem;
//     padding-right: 1rem;
//   }
// }


/********** Hero Section Image Left ***********/


.img__heroImgLeft {
  border: 2px solid;
  border-color: #121212;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}


/********** Hero Section Bloc Image Container Column 2 ***********/


.bloc__image-column2 {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 60rem;
  margin-left: 20px;
  object-position: center;
}

@media screen and (max-width: 40rem) {
  .bloc__image-column2 {
    width: 100vw;
    max-height: 50%;
    margin: 1rem 0 1rem 0;
  }
}

@media screen and (max-width: 22.5rem) {
  .bloc__image-column2 {
    margin-right: 1rem;
    padding-right: 1rem;
  }
}

/********** Hero Section Bloc Image Container Column 1 ***********/


.img__heroImgRight {
  border: 2px solid;
  border-color: #121212;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}