<div class="container__footer">
  <div class="link__legal-notice">
    <a routerLink="#">Legal</a>
  </div>
  <div class="link__cookies">
    <a routerLink="#">Cookies</a>
  </div>
  <div class="link__privacy-policy">
    <a routerLink="#">Privacy</a>
  </div>
  <div class="link__terms-of-use">
    <a routerLink="#">Terms</a>
  </div>
  <div class="label__copyrights" aria-describedby="copyrights">
    ©2024 All right reserved - Powered with Wiiix
  </div>
  <!-- <div id="copyrights" aria-hidden="true">
    ©2024 All right reserved - Powered with Wiiix
  </div> -->
</div>