/********** Footer Section Container ***********/

.container__footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: var(--PureBlack900, #121212);
  color: white;
  padding: 20px;
  /* text-align: center; */
}

// Desktop first approch: max-width (mobile first: min-width)
// Working with rem unit for a best display quality (40rem = 640px)
@media screen and (max-width: 40rem) {
  .container__footer {
    grid-template-columns: 1fr;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

/********** Footer links ***********/

a {
  color: white;
  text-decoration: none;
  font: 400 16px Menlo, sans-serif;
}

/********** Legal Notice ***********/

.link__legal-notice {
  grid-column: 3/4;
}

.link__legal-notice:hover {
  text-decoration-line: underline;
}

@media screen and (min-width: 40rem) {
  .link__legal-notice {
    margin-bottom: 10px;


  }
}

/********** Cookies ***********/

.link__cookies {
  grid-column: 4/5;
  justify-self: center;
}

.link__cookies:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 40rem) {
  .link__cookies {
    margin-bottom: 10px;
  }
}

/********** Privacy policy ***********/

.link__privacy-policy {
  grid-column: 5/6;
  justify-self: center;
}
.link__privacy-policy:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 40rem) {
  .link__privacy-policy {
    margin-bottom: 10px;
  }
}

/********** Terms of use ***********/

.link__terms-of-use {
  grid-column: 6/7;
  justify-self: center;
}
.link__terms-of-use:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 40rem) {
  .link__terms-of-use {
    margin-bottom: 10px;
  }
}

/********** Copyright ***********/

.label__copyrights {
  grid-column: 1/9;
  justify-self: center;
  margin-top: 40px;
  text-align: center;
  font: 400 12px Menlo, sans-serif;
}

@media screen and (max-width: 40rem) {
  .label__copyrights {
    text-align: center;
  }
}
