.div {
    background-color: var(--PureBlack900, #121212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 39px 60px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .div-2 {
    display: flex;
    width: 546px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-4 {
    color: var(--PureWhite900, #fefefe);
    text-decoration-line: underline;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 16px Menlo, sans-serif;
  }
  @media (max-width: 991px) {
    .div-4 {
      white-space: initial;
    }
  }
  .div-5 {
    color: var(--PureWhite900, #fefefe);
    text-decoration-line: underline;
    align-self: start;
    font: 400 16px Menlo, sans-serif;
  }
  .div-6 {
    color: var(--PureWhite900, #fefefe);
    text-decoration-line: underline;
    font: 400 16px Menlo, sans-serif;
  }
  .div-7 {
    color: var(--PureWhite900, #fefefe);
    text-decoration-line: underline;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 16px Menlo, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      white-space: initial;
    }
  }
  .div-8 {
    color: var(--PureWhite900, #fefefe);
    text-align: center;
    align-self: center;
    margin-top: 69px;
    font: 400 12px Menlo, sans-serif;
  }
  @media (max-width: 991px) {
    .div-8 {
      margin-top: 40px;
    }
  }