<div class="container">
  <div class="row">

    <app-searchbar></app-searchbar>

    <div *ngFor="let article of articleList" class="col m4 s6">
      <div (click)="goToArticle(article)" class="card horizontal" articleBorderCard>
        <div class="card-image">
          <img [src]="article.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ article.title}}</p>
            <p><small>{{ article.createdAt | date : "dd/MM/yy" }}</small>
              <span 
                  *ngFor="let type of article.category" 
                  class="{{ type | articleCategoryColor }}"
              >
                {{ category }}
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light red z-depth-3" 
  style="position:fixed; bottom:25px; right:25px;"
  routerLink="/article/add">
➕  
</a>

<!-- <div class="div">
    <img
      loading="lazy"
      src="https://images.unsplash.com/photo-1589586502913-822aa129d420?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="img"
    />
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/37aa7d6407f522c8cdd9d37710687372d016e6faae13f9f8bf2111666472d059?"
      class="img-2"
    />
    <div class="div-2">
      <div class="div-3">2023-10-19</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c728134e41313153d426605fe88698f9f39753a18749f63ecc2d6744e18ce64a?"
        class="img-3"
      />
      <div class="div-4">
        <div class="div-5">Article title</div>
        <div class="div-6">
          Lorem ipsum dolor sit amet consectetur. Sit facilisis aliquam nullam
          rutrum justo. Viverra velit.
        </div>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c728134e41313153d426605fe88698f9f39753a18749f63ecc2d6744e18ce64a?"
        class="img-4"
      />
      <div class="div-7">
        <div class="div-8">
          <div class="div-9">1000</div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/564b8e156ad2b74ace53cf594d1b085cf8f8bd9e8fc0b2fa0c439baa812bab96?"
            class="img-5"
          />
          <div class="div-10">500</div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/80b1b785ac185c10ac6c0c86aa027e4b43b64db4235ed471db7feb1faa8ae406?"
            class="img-6"
          />
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/28ea1fe09a1f8e6d6bca56f068864747208a1f29113b60bb468dda869f421e2d?"
          class="img-7"
        />
      </div>
    </div>
  </div> -->