<!-- *ngIf: condition, if category is valid the form may work -->
<!-- (ngSubmit): event, run the onSubmit() method -->
<!-- #articleForm: referenced variable, target the DOM element and attribut result of the ngForm Directive, then become an Angular Object -->

<div class="row">
  <div class="col s8 offset-s2">
    <div class="card-panel">
      <form *ngIf="article" [formGroup]="articleForm" (ngSubmit)="onSubmitEdit()">
        <div class="form-group">

                  <!-- article title -->

          <label for="title">Title:</label>
          <!-- input validation rules -->
          <input
            type="text"
            id="title"
            formControlName="title"
            class="form-control"
            required
            pattern="^[a-zA-Z0-9àéèç]{1,255}$"
            [(ngModel)]="article.title" name="title"
          />
          <!-- Up! The ngModel directive allow to bind dynamicaly the field with the article content -->

          <!-- error message if the validation rules are not respected. Hidden state until name is valid or first use (pristine) -->
          <div
            *ngIf="articleForm.get('title')?.hasError('required') && articleForm.get('title')?.touched"
            class="error"
          >
            Please, enter a title with 255 characters or less.
          </div>
        </div>

                <!-- article chapo -->

        <div class="form-group">
          <label for="chapo">Chapo:</label>
          <input
            type="text"
            id="chapo"
            formControlName="chapo"
            class="form-control"
            required
            pattern="^[a-zA-Z0-9àéèç]{1,255}$"
            [(ngModel)]="article.chapo" name="chapo"
          />
          <div
            *ngIf="articleForm.get('chapo')?.hasError('required') && articleForm.get('chapo')?.touched"
            class="error"
          >
            Please, enter a chapo with 255 characters or less.
          </div>
        </div>

                <!-- article content -->

        <div class="form-group">
          <label for="content">Content:</label>
          <textarea
            id="content"
            formControlName="content"
            class="form-control"
            required
            pattern="^[a-zA-Z0-9àéèç]{1,3500}$"
            [(ngModel)]="article.content" name="content"
          ></textarea>
          <div
            *ngIf="articleForm.get('content')?.hasError('required') && articleForm.get('content')?.touched"
            class="error"
          >
            The article content is required.
          </div>
        </div>

                <!-- article categories -->

        <div class="form-group">
          <label for="category">Category</label>
          <select id="category" formControlName="category" class="form-control">
            <option value="" disabled selected>Choose a category</option>
            <option *ngFor="let categorie of categories" [value]="categorie">
              {{ categories }}
            </option>
          </select>
          <div
            *ngIf="articleForm.get('category')?.hasError('required') && articleForm.get('category')?.touched"
            class="error"
          >
            Please, select a category.
          </div>
        </div>

        <div class="divider"></div>
        <div class="section center">
          <button type="submit" class="btn-large center deep-orange darken-1" (click)="article">
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
                <!-- loader -->

<h3 *ngIf="!article" class="center">
  <app-loader></app-loader>
</h3>
