// Target the required HTML attribut
.ngValid[required] {  
    border-left: 5px solid #42A948;
}

// Prevent red border in all form
.ngInvalid:not(form) {
    border-left: 5px solid #A94442;
}


.form-group {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }