<!-- *ngIf: condition, if type is valid the form may work -->
<!-- (ngSubmit): event, run the onSubmit() method -->
<!-- #articleForm: referenced variable, target the DOM element and attribut result of the ngForm Directive, then become an Angular Object -->
<form *ngIf="article" (ngSubmit)="onSubmit()" #articleForm="ngForm">  
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card-panel">
    
          <!-- article title -->
          <div class="form-group">
            <label for="title">Title</label>
            <!-- validation rules -->
            <input type="text" class="form-control" id="title"
                    required
                    pattern="^[a-zA-Z0-9àéèç]{1,70}$"
                   [(ngModel)]="article.title" title="title"
                   #title="ngModel"> <!-- Declared Variable: keep the result of ngModel Directive -->
            
                   <!-- error message if the validation rules are not respected. Hidden state until name is valid or first use (pristine) -->
            <div [hidden]="title.valid || title.pristine" 
                  class="card-panel red accent-1">
                  Le titre de l'article doit être compris entre 1-70 caractères.
            </div>
          </div>
    
  
          <!-- article picture -->
          <!-- <div *ngIf="isAddForm" class="form-group">
            <label for="picture">Image</label> -->
            <!-- validation rules -->
            <!-- <input type="url" class="form-control" id="picture"
                   required
                   [(ngModel)]="article.picture" name="picture"
                   #picture="ngModel">  -->
                   <!-- Up: declared variable: keep the result of ngModel Directive -->
            
                   <!-- error message if the validation rules are not respected. Hidden state until name is valid or first use (pristine) -->
            <!-- <div [hidden]="picture.valid || picture.pristine" 
                  class="card-panel red accent-1">
                  Picture required.
            </div>
          </div> -->
  
  
          <!-- article chapo -->
          <div class="form-group">
            <label for="chapo">Chapo</label>
            <input type="string" class="form-control" id="chapo"
                    required
                    pattern="^[0-9]{1,3}$"
                   [(ngModel)]="article.chapo" name="chapo"
                   #chapo="ngModel">
             <div [hidden]="chapo.valid || chapo.pristine"
                   class="card-panel red accent-1">
                   Enter the Chapo with a sufficient number of characters.
             </div>
          </div>
    
          <!-- article content -->
          <div class="form-group">
            <label for="content">Content</label>
            <input type="string" class="form-control" id="content"
                    required
                    pattern="^[a-zA-Z0-9]{1,3500}$"
                   [(ngModel)]="article.content" name="content"
                   #cp="ngModel">
             <div [hidden]="cp.valid || cp.pristine"
                   class="card-panel red accent-1">
                   Les dégâts de la article sont compris entre 0 et 99.
             </div>
          </div>
    
          <!-- article category -->
          <form class="form-group">
            <label for="category">Category</label>
            <p *ngFor="let category of categories">
              <label>
                <input type="checkbox"
                  class="filled-in"
                  id="{{ category }}"
                  [value]="category"
                  [checked]="hasCategory(category)"
                  [disabled]="!isCategoryValid(category)"
                  (change)="selectCategory($event, category)"/>
                <span [attr.for]="category">
                  <div class="{{ category | articleCategoryColorPipe }}">
                    {{ category }}
                  </div>
                </span>
              </label>
            </p>
          </form>
    
          <!-- Submit button -->
          <div class="divider"></div>
          <div class="section center">
            <button type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!articleForm.form.valid">
              Valider</button> <!-- If the type selected is invalid, the button stay disable -->
          </div>
    
        </div>
      </div>
    </div>
  </form>
  <!-- Condition: if type is NOT valid, the message below appears -->
  <h3 *ngIf="!article" class="center">
    <app-loader></app-loader>
  </h3> 
