<div class="row">
  <div class="col s8 offset-s2">
    <div class="card-panel">
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          required
          pattern="^[a-zA-Z0-9àéèç]{1,255}$"
        />

        <label for="chapo">Chapo</label>
        <input
          type="text"
          id="chapo"
          formControlName="chapo"
          required
          pattern="^[a-zA-Z0-9àéèç]{1,255}$"
        />

        <label for="content">Content</label>
        <textarea
          id="content"
          formControlName="content"
          required
          pattern="^[a-zA-Z0-9àéèç]{1,3500}$"
        ></textarea>

        <div class="divider"></div>
        <div class="section center">
          <button type="submit" class="btn-large center deep-orange darken-1">
            CREATE
          </button>
        </div>
      </form>
      <button class="btn__createForm-submit" (click)="goBackHome()">
        <svg
          width="5rem"
          height="5rem"
          fill="#fefefe"
          viewBox="0 0 24 24"
          id="home-alt-3"
          data-name="Flat Color"
          xmlns="http://www.w3.org/2000/svg"
          class="icon flat-color"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              id="primary"
              d="M21.71,11.29l-9-9a1,1,0,0,0-1.42,0l-9,9a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,13H4v7.3A1.77,1.77,0,0,0,5.83,22H8.5a1,1,0,0,0,1-1V16.1a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1V21a1,1,0,0,0,1,1h2.67A1.77,1.77,0,0,0,20,20.3V13h1a1,1,0,0,0,.92-.62A1,1,0,0,0,21.71,11.29Z"
              style="fill: #f24e1e"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
