<div class="container">
  <div class="row">
    <form class="col s12" [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
      <div class="row">
        <div class="title_form center">A question?</div>
        <div class="input-field col s6">
          <input
            id="name"
            type="text"
            class="validate"
            formControlName="name"
            required
            pattern="^[a-zA-Z0-9àéèç]{1,70}$"
            aria-describedby="contact-form-name-description"
          />
        <!-- Using ARIA description for help assistance technology -->
        <div id="contact-form-name-description" aria-hidden="true">
          Please, enter your name into the text field selected.
        </div>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input
            id="email"
            type="email"
            class="validate"
            formControlName="email"
            required
            aria-describedby="contact-form-email-description"
          />
        <!-- Using ARIA description for help assistance technology -->
        <div id="contact-form-email-description" aria-hidden="true">
          Please, enter your email into the text field selected.
        </div>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            id="message"
            type="text"
            class="validate"
            formControlName="message"
            required
            pattern="^[a-zA-Z0-9èâàç;,!?:'ÉÈÊÀÇËÏÎÔÙÛÜéèêàçëïîôùûü\s]+$"
            aria-describedby="contact-form-message-description"
          />
        <!-- Using ARIA description for help assistance technology -->
        <div id="contact-form-message-description" aria-hidden="true">
          Please, enter your message into the text field selected.
        </div>
          <label for="message">Message</label>
        </div>
      </div>
      <div class="section center">
        <button type="submit" class="btn btn-large deep-orange darken-1" aria-label="submit contact form">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
