<div class="container">
  <div class="container__wrapper">
    <div class="title_form center">A question?</div>

    <form [formGroup]="form" (ngSubmit)="onSubmitForm(formModel)">
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" />
        <div class="error-container">
          <span
            *ngIf="form.controls.name.touched && form.controls.name.errors?.['required']"
            >Please, complet this field.</span
          >
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <div class="error-container">
          <span
            *ngIf="form.controls.email.touched && form.controls.email.errors?.['required']"
            >Please, complet this field.</span
          >
          <span
            *ngIf="form.controls.email.touched && form.controls.email.errors?.['email']"
          >
            Invalid email.</span
          >
        </div>
        <div>
          <label for="message">Message</label>
          <input id="message" type="text" formControlName="message" />
          <div class="error-container">
            <span
              *ngIf="form.controls.message.touched && form.controls.message.errors?.['required']"
              >Please, complet this field.</span
            >
          </div>
        </div>
      </div>
      <button type="submit">Submit</button>

      <div *ngIf="form.valid && submitted">
        <h3>Form Submitted!</h3>
      </div>
    </form>
  </div>
</div>
