<div *ngIf="article" class="row">
    <div class="col s12 m8 offset-m2">
      <h2 class="header center">{{ article.title }}</h2>
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img [src]="article.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <table class="bordered striped">
              <tbody>
                <tr>
                  <td>Title</td>
                  <td>
                    <strong>{{ article.title }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Chapo</td>
                  <td>
                    <strong>{{ article.chapo }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Content</td>
                  <td>
                    <strong>{{ article.content }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Category</td>
                  <td>
                    <span *ngFor="let category of article.categories" class="{{ category | articleCategoryColorPipe }}">{{ category }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Created at</td>
                  <td>
                    <em>{{ article.createdAt | date : "dd/MM/yyyy" }}</em>
                  </td>
                </tr>
                <tr>
                  <td>Updated at</td>
                  <td>
                    <em>{{ article.updatedAt | date : "dd/MM/yyyy" }}</em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-action center deep-orange darken-1">
            <a (click)="goToArticleList()">Return</a>
            <a (click)="goToEditArticle(article)">Edit</a>
            <a (click)="deleteArticle(article)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 *ngIf="!article" class="center">
  <app-loader></app-loader>
  </h4>
  