.container {
  border: 2px solid var(--PureBlack900, #121212);
  background-color: var(--PureRed900, #f24e1e);
  display: flex;
  max-width: 848px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}

.wrapper {
  display: flex;
  width: 561px;
  max-width: 100%;
  flex-direction: column;
  margin: 75px 0 40px;
}

@media (max-width: 991px) {
  .div-2 {
    margin-top: 40px;
  }
}

.div-3 {
  color: var(--PureWhite900, #fefefe);
  align-self: stretch;
  font: 400 32px Menlo, sans-serif;
}

@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}

.div-4 {
  color: #fefefe;
  align-self: stretch;
  margin-top: 29px;
  font: 700 80px Menlo, sans-serif;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-5 {
  color: var(--MediumGray700, #878787);
  text-align: center;
  border: 0.95px solid #000;
  background-color: #fff;
  align-self: stretch;
  margin-top: 27px;
  align-items: start;
  padding: 35px 60px 20px 24px;
  font: 400 11px Menlo, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-6 {
  align-self: flex-flex-end;
  display: flex;
  margin-top: 51px;
  width: 506px;
  max-width: 100%;
  justify-content: space-between;
  gap: 14px;
}
@media (max-width: 991px) {
  .div-6 {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-7 {
  color: var(--PureWhite900, #fefefe);
  white-space: nowrap;
  background-color: var(--PureBlack900, #121212);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 27px 60px;
  font: 400 32px Menlo, sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    white-space: initial;
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-8 {
  color: var(--PureBlack900, #121212);
  align-self: center;
  margin: auto 0;
  font: 400 16px Menlo, sans-serif;
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 21px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
