<div class="nav-container">
  <div class="wrapper">
    <div class="div-3">
      <div class="div-4">
        <button routerLink="/home" class="div-5">Home</button>
      </div>
      <div class="div-6">
        <button routerLink="/articles" class="div-7">Articles</button>
      </div>
      <div class="div-8">
        <button routerLink="/about" class="div-9">About</button>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e81e22a123a8e06326a1b0d7159ba59eb0f23349557f4bc7bf297044ecd76ec2?"
        class="img"
      />
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e5b6be2e385e05225b97aa9a559d005daf4bd7a4b42ece0344a73f94953e9eb?"
      class="img-2"
    />
  </div>
</div>
