.nav__container {
  background-color: #fefefe;
  padding: 10rem 0 5rem 15rem;
}

@media (max-width: 40rem) {
  .nav__container {
    padding: 0 20px;
  }
}

.nav__container-wrapper {
  display: flex;
  margin-bottom: 6px;
  width: 100vw;
  max-width: 80vw;
  justify-content: space-between;
  // gap: 20px;
}

@media (max-width: 40rem) {
  .nav__container-wrapper {
    max-width: 100vw;
    flex-wrap: wrap;
  }
}

.button__wrapper {
  display: flex;
  justify-content: space-between;
  // gap: 0px;
}

@media (max-width: 40rem) {
  .button__wrapper {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.button__home {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
}

.button__home--initialState {
  color: var(--PureBlack900, #121212);
  white-space: nowrap;
  border: 2px solid var(--PureBlack900, #121212);
  background-color: var(--PureWhite900, #fefefe);
  justify-content: center;
  align-items: center;
  padding: 28px 60px;
  font: 400 32px Menlo, sans-serif;
  box-shadow: 0 0.2rem 0.5rem #a6a6a6;
}

.button__home--initialState:hover {
  box-shadow: 0 0 0 #fefefe;
}

@media (max-width: 40rem) {
  .button__home--initialState {
    // white-space: initial;
    // padding: 0 20px;
    box-shadow: 0 0 0;
  }
}

// @media (max-width: 22.5rem) {
//   .button__home--initialState {
//     white-space: initial;
//     margin: 5rem 1.4rem 0 0;
//   }
// }

.button__articles {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
}

.button__articles--initialState {
  color: var(--PureBlack900, #121212);
  white-space: nowrap;
  border: 2px solid var(--PureBlack900, #121212);
  background-color: var(--PureWhite900, #fefefe);
  justify-content: center;
  align-items: center;
  padding: 28px 60px;
  font: 400 32px Menlo, sans-serif;
  box-shadow: 0 0.2rem 0.5rem #a6a6a6;
}

.button__articles--initialState:hover {
  box-shadow: 0 0 0 #fefefe;
}

@media (max-width: 40rem) {
  .button__articles--initialState {
    box-shadow: 0 0 0;
  }
}

.button__about {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
}

.button__about--initialState {
  color: var(--PureBlack900, #121212);
  white-space: nowrap;
  border: 2px solid var(--PureBlack900, #121212);
  background-color: var(--PureWhite900, #fefefe);
  justify-content: center;
  align-items: center;
  padding: 28px 60px;
  font: 400 32px Menlo, sans-serif;
  box-shadow: 0 0.2rem 0.5rem #a6a6a6;
}

.button__about--initialState:hover {
  box-shadow: 0 0 0 #fefefe;
}

@media (max-width: 40rem) {
  .button__about--initialState {
    box-shadow: 0 0 0;
  }
}

/********** Search bar **********/

.search-bar {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 60rem;
  // margin-left: 6rem;
}

.search-bar--initialState {
  color: #121212;
  white-space: nowrap;
  border: 2px solid #121212;
  background-color: #fefefe;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  font: 400 32px Menlo, sans-serif;
  box-shadow: 0 0.2rem 0.5rem #a6a6a6;
}

.search-bar--initialState:hover {
  box-shadow: 0 0 0 #a6a6a6;
}

@media (max-width: 40rem) {
  .search-bar--initialState {
    white-space: initial;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    box-shadow: 0 0 0;
    border-bottom: 4px solid #121212;
    margin-left: 0;
  }
}

/********** Login button **********/

.button__login--initialState {
    border: 0;
    background-color: #fefefe;
    margin-right: 22rem;
}

.button__logout--initialState {
  align-self: center;
  align-items: center;
  border: 0;
  background-color: #fefefe;
}

// Almost 640px width
@media (max-width: 40rem) {
  .button__login--initialState {
    align-items: center;
    margin: 2rem 0 0 28rem;
  }
}

// Almost 360px width
@media (max-width: 22.5rem) {
  .button__login--initialState {
    align-items: center;
    margin: 2rem 0 0 13rem;
  }
}
