.div {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  padding: 42px 80px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 30px 0 12px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
  }
}
.div-3 {
  color: var(--PureBlack900, #121212);
  border: 2px solid var(--PureBlack900, #121212);
  background-color: var(--PureWhite900, #fefefe);
  justify-content: center;
  padding: 222px 45px 166px 33px;
  font: 400 64px Menlo, sans-serif;
}
@media (max-width: 991px) {
  .div-3 {
    font-size: 40px;
    padding: 40px 20px;
  }
}
.div-4 {
  border: 2px solid var(--PureBlack900, #121212);
  background-color: var(--PureWhite900, #fefefe);
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
  }
}
.div-5 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-5 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-6 {
  disply: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 955px;
  flex-grow: 1;
  padding-left: 60px;
  justify-content: center;
  align-items: end;
  width: 100%;
  max-width: 216px;
  margin-left: 200px;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img-2 {
  aspect-ratio: 0;
  object-fit: contain;
  object-position: center;
  width: 3px;
  stroke-width: 2.993px;
  stroke: var(--PureBlack900, #121212);
  overflow: hidden;
  max-width: 100%;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-7 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    margin-top: 32px;
  }
}
.div-8 {
  color: var(--PureBlack900, #121212);
  align-self: end;
  margin-right: 55px;
  font: 400 24px Menlo, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    margin-right: 10px;
  }
}
.img-3 {
  aspect-ratio: 276;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 2.993px;
  stroke: var(--PureBlack900, #121212);
  overflow: hidden;
  align-self: stretch;
  margin-top: 29px;
}
@media (max-width: 991px) {
  .img-3 {
    max-width: 100%;
  }
}
.div-9 {
  align-self: stretch;
  display: flex;
  margin-top: 166px;
  flex-direction: column;
  padding: 0 80px;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-10 {
  color: var(--PureBlack900, #121212);
  text-align: justify;
  margin: 0 14px 0 15px;
  font: 500 72px Hind, sans-serif;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    margin-right: 10px;
    font-size: 40px;
  }
}
.div-11 {
  color: var(--PureBlack900, #121212);
  text-align: justify;
  max-width: 639px;
  margin: 149px 14px 0 15px;
  font: 300 36px Hind, sans-serif;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
.img-4 {
  aspect-ratio: 276;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 2.993px;
  stroke: var(--PureBlack900, #121212);
  overflow: hidden;
  align-self: stretch;
  margin-top: 149px;
}
@media (max-width: 991px) {
  .img-4 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-12 {
  align-self: center;
  display: flex;
  margin-top: 49px;
  width: 694px;
  max-width: 100%;
  padding-right: 28px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-12 {
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.div-13 {
  align-self: center;
  display: flex;
  padding-right: 28px;
  align-items: center;
  gap: 13px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-13 {
    padding-right: 20px;
  }
}
.div-14 {
  color: var(--PureBlack900, #121212);
  margin: auto 0;
  font: 400 24px Menlo, sans-serif;
}
.img-5 {
  aspect-ratio: 0.88;
  object-fit: contain;
  object-position: center;
  width: 36px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-15 {
  display: flex;
  padding-right: 33px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
@media (max-width: 991px) {
  .div-15 {
    padding-right: 20px;
  }
}
.div-16 {
  color: var(--PureBlack900, #121212);
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 400 24px Menlo, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    white-space: initial;
  }
}
.img-6 {
  aspect-ratio: 0.89;
  object-fit: contain;
  object-position: center;
  width: 42px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.img-7 {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 42px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.img-8 {
  aspect-ratio: 859;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 2px;
  stroke: #000;
  overflow: hidden;
  margin: 183px 30px 36px 12px;
}
@media (max-width: 991px) {
  .img-8 {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}