<div class="div">
  <div class="div-2">
    <div class="div-3">
      <span style="color: rgba(242, 78, 30, 1)">NEW</span>
    </div>
    <div class="div-4">
      <div class="div-5">
        <div class="column">
          <div class="div-6">
            <img
              loading="lazy"
              srcset="..."
              class="img"
            />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/c205982aa38c8db20efbcb8df0d421c901a87df059831cd0c97b1a578d0f9433?"
              class="img-2"
            />
          </div>
        </div>
        <div class="column-2">
          <div class="div-7">
            <div class="div-8">2023-10-19</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/bc81f759b8d9a4a8bb5d117c2f15a00f2613a8538b4eca7a6ac2d2e520aa4491?"
              class="img-3"
            />
            <div class="div-9">
              <div class="div-10">Article title</div>
              <div class="div-11">
                Lorem ipsum dolor sit amet consectetur. Sit facilisis aliquam
                nullam rutrum justo. Viverra velit.
              </div>
            </div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/bc81f759b8d9a4a8bb5d117c2f15a00f2613a8538b4eca7a6ac2d2e520aa4491?"
              class="img-4"
            />
            <div class="div-12">
              <div class="div-13">
                <div class="div-14">1000</div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/d538111207c463b784f336052b0632c8a16ccee7a71ea4fd1835bd6f2b18069e?"
                  class="img-5"
                />
              </div>
              <div class="div-15">
                <div class="div-16">500</div>
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/4d877897c52886d766d396b16f15f914a1a101549806691ae343285e6dc74014?"
                  class="img-6"
                />
              </div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/1cf6747245a326e9b935bfa422c938831ce6454906545e4cd10e287dba205d06?"
                class="img-7"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/14caf7d9c7b0fa6af0a8c6a30e95c9ca34914b929da973fa3b7325d9d515e937?"
    class="img-8"
  />
</div>